<!DOCTYPE html>
<html>

	<head>
		<title>GordonShop</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="public/bootstrap-3.3.7-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="public/css/styles.css">
		<link href="public/css/libiao.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="public/js/jquery-1.12.1.min.js"></script>
		<script type="text/javascript" src="public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="public/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		
		<style type="text/css">
			
			a.foot_a:visited {color:#0000ff;}
			a.foot_a:hover {
				font-size:100%;
				color: white;
			 	text-decoration: none;
			}
			
			/*a:visited {
			 color: #000000;
			 text-decoration: none;
			}
			a:hover {
			 color: white;
			 text-decoration: underline;
			}*/
			
		</style>

		<script>
			$(function() {
				$(".box ul li").hover(function(){
					$(this).addClass('on').siblings().removeClass('on');
				});
				// 初始化轮播
				$(".start-slide").click(function(){
					$("#myCarousel").carousel('cycle');
				});
				// 停止轮播
				$(".pause-slide").click(function(){
					$("#myCarousel").carousel('pause');
				});
				// 循环轮播到上一个项目
				$(".prev-slide").click(function(){
					$("#myCarousel").carousel('prev');
				});
				// 循环轮播到下一个项目
				$(".next-slide").click(function(){
					$("#myCarousel").carousel('next');
				});
				// 循环轮播到某个特定的帧 
				$(".slide-one").click(function(){
					$("#myCarousel").carousel(0);
				});
				$(".slide-two").click(function(){
					$("#myCarousel").carousel(1);
				});
				$(".slide-three").click(function(){
					$("#myCarousel").carousel(2);
				});
			});
		</script>


	</head>


	<body>
		<div class="container">

				<div id="head-info" style="border: 1px solid green;">
					<ul class="nav nav-pills nav-justified">
						<li class="active">
							<img src="public/img/book_logo.jpg" class="img-rounded" style="font-size: small;">
						</li>
						<li>
							<a href="#" style="font-size:100%;" data-toggle="modal" data-target="#login-info">请登录</a>
						</li>
						<li>
							<a href="#" style="font-size:100%;">图书</a>
						</li>
						<li>
							<a href="#" style="font-size:100%;" id="index_page">我的主页</a>
						</li>
						<li>
							<a href="#" style="font-size:100%;">购物车</a>
						</li>
					</ul>
				</div>
				
			<div id="body" class="body-part" style="border: 1px solid green;" >
				<!--
                	作者：2745354218@qq.com
                	时间：2019-03-19
                	描述：轮播框
                -->
				<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>   
				
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
						<img src="public/images/1.png" alt="First slide">
						</div>
						<div class="item">
						<img src="public/images/2.png" alt="Second slide">
						</div>
						<div class="item">
						<img src="public/images/4.png" alt="Third slide">
						</div>
					</div>
					<!-- 轮播（Carousel）导航 -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					</a>
				</div>
				<!-- 控制按钮 -->
				<div style="text-align:center;">
					<input type="button" class="btn start-slide" value="Start">
					<input type="button" class="btn pause-slide" value="Pause">
					<input type="button" class="btn prev-slide" value="Previous Slide">
					<input type="button" class="btn next-slide" value="Next Slide">
					<input type="button" class="btn slide-one" value="Slide 1">
					<input type="button" class="btn slide-two" value="Slide 2">
					<input type="button" class="btn slide-three" value="Slide 3">
				</div>
				<!--
                	作者：2745354218@qq.com
                	时间：2019-03-19
                	描述：分区栏
                -->
				<section class="main_box" style="margin-left:50px;">
					<div class="box">
						<ul>
							<li class="on">
								<a href="#">
									<h3>新品上市</h3>
									<p>你还在犹豫什么</p>
									<img src="public/images/1.png" alt="img">
								</a>
							</li>
							<li>
								<a href="#">
									<h3>特价区</h3>
									<p>7.5折</p>
									<img src="public/images/2.png" alt="img">
								</a>
							</li>
							<li>
								<a href="#">
									<h3>遨游课外</h3>
									<p>想看一下社会的风情吗？</p>
									<img src="public/images/3.png" alt="img">
								</a>
							</li>
							<li>
								<a href="#">
									<h3>风骚学林</h3>
									<p>看看有你的偶像吗？</p>
									<img src="public/images/4.png" alt="img">
								</a>
							</li>
							<div style="clear: both"></div>
						</ul>
					</div>
				</section>
				<!--
                	作者：2745354218@qq.com
                	时间：2019-03-19
                	描述：宣传视频
                -->
				<div style="border: 1px solid green;">
					<div style="margin: 5 5;">
						<h4 style="display: inline;color: #333;"><strong>宣传视频</strong></h4>
						<p style=" display: inline; float: right; text-align: center; color: gray;">
							<a href="#" style="text-decoration: none;">更多</a>
						</p>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						    <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						     <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>    
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						    <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>   
						</div>
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						     <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>    
					</div>	
				</div>
				
				<!--
                	作者：2745354218@qq.com
                	时间：2019-03-19
                	描述：活动一览
                -->
				<div style="border: 1px solid green;">
					<div style="margin: 5 5;">
						<h4 style="display: inline;color: #333;"><strong>活动一览</strong></h4>
						<p style=" display: inline; float: right; text-align: center; color: gray;">
							<a href="#" style="text-decoration: none;">更多</a>
						</p>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						    <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						     <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>    
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						    <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>   
						</div>
						<div class="col-sm-6 col-md-3">
						    <a href="public/playVideo.html" class="thumbnail">
						        <img src="http://www.runoob.com/wp-content/uploads/2014/06/kittens.jpg"
						            alt="通用的占位符缩略图">
						    </a>
						     <div style="position:absolute;left:10%; top:0;">
								<h4 style="color: white;">我的动漫</h4>
							</div>
						</div>    
					</div>	
				</div>
				
				<!--
                	作者：2745354218@qq.com
                	时间：2019-03-20
                	描述：事件概览
                -->
                <div>
                	<div style="margin: 5 5;">
						<h4 style="display: inline; color: #333;"><strong>宣传视频</strong></h4>
						<p style=" display: inline; float: right; text-align: center; color: gray;">
							<a href="#" style="text-decoration: none;">更多</a>
						</p>
						<blockquote>
							<small>关键词 <cite>开源</cite></small>
							<p>
								github是一个全球化的开源社区.
							</p> 
						</blockquote>
						<blockquote>
							<small>关键词 <cite>开源</cite></small>
							<p>
								github是一个全球化的开源社区.
							</p> 
						</blockquote>
					</div>
                </div>
				
			</div>
			
			<div id="foot" class="body-part">
				<div class="panel panel-default">
				    <div class="panel-heading">
				       <ul>
				       		<li style="display: inline-block;width: 5%;">
				       			<a href="#">
				       				<img style="height: 25px;width: auto;" src="https://www.muji.com.cn/cn/net/contents/img/misc_weibo.png" />
				       			</a>
				       		</li>
				       		<li style="display: inline-block;">
				       			<a href="#">
				       				<img style="height: 25px;width: auto;" src="https://www.muji.com.cn/cn/net/contents/img/misc_wechat.png" />
				       			</a>
				       		</li>
				       		<li style="display: inline-block;float: right;">
				       			<img style="height: 25px;width: auto;" src="public/images/book_foot.jpg" />
				       		</li>
				       </ul>
				    </div>
				    <div class="panel-body bg-black">
				        <section class="foot_secatin">
				        	<ul>
								<li style="display: inline-block;width: 10%;margin-left: 20%;color: white;">
									<a href="#" class="foot_a"  data-toggle="modal" data-target="#login-info">请登录</a>
								</li>
								<li style="display: inline-block;width: 10%;color: white;">
									<a href="#" class="foot_a" >图书</a>
								</li>
								<li style="display: inline-block;width: 10%;color: white;">
									<a href="#" class="foot_a" id="index_page">我的主页</a>
								</li>
								<li style="display: inline-block;width: 10%;color: white;">
									<a href="#" class="foot_a" >购物车</a>
								</li>
							</ul>
				        </section>
				    </div>
				</div>
			</div>
			
			<!--
            	作者：2745354218@qq.com
            	时间：2019-03-18
            	描述：登录模态框
            -->
			<div class="modal fade" id="login-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		    		<div class="jq22-container" style="padding-top:100px">
						<div class="login-wrap">
							<div class="login-html">
								<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
								<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
								<div class="login-form">
									<div class="sign-in-htm">
										<form action="#">
											<div class="group">
												<label for="user" class="label">Username</label>
												<input id="user" type="text" class="input">
											</div>
											<div class="group">
												<label for="pass" class="label">Password</label>
												<input id="pass" type="password" class="input" data-type="password">
											</div>
											<div class="group">
												<input id="check" type="checkbox" class="check" checked>
												<label for="check"><span class="icon"></span> Keep me Signed in</label>
											</div>
											<div class="group">
												<input type="submit" class="button" value="Sign In" data-dismiss="modal">
											</div>
											<div class="hr"></div>
											<div class="foot-lnk">
												<a href="#forgot">Forgot Password?</a>
											</div>
										</form>
										</div>
									<div class="sign-up-htm">
										<form action="#">
											<div class="group">
												<label for="user" class="label">Username</label>
												<input id="register_user" type="text" class="input">
											</div>
											<div class="group">
												<label for="pass" class="label">Password</label>
												<input id="register_pass" type="password" class="input" data-type="password">
											</div>
											<div class="group">
												<label for="pass" class="label">Repeat Password</label>
												<input id="check_pass" type="password" class="input" data-type="password">
											</div>
											<div class="group">
												<label for="pass" class="label">Email Address</label>
												<input id="email" type="text" class="input">
											</div>
											<div class="group">
												<input type="submit" class="button" value="Sign Up" data-dismiss="modal">
											</div>
											<div class="hr"></div>
											<div class="foot-lnk">
												<label for="tab-1">Already Member?</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div><!--/.jq22-container-->
		    </div><!-- /.modal-dialog -->
		</div>
			<!-- /.modal -->	
	</body>
</html>